@media screen and (max-width: 1200px) {
	.page-section {
		min-height: 400px;
	}
}

@media screen and (min-width: 992px){
	.modal-full-width .modal-dialog {
	    width: 1200px;
	    margin: 30px auto;
	}

}

@media screen and (max-width: 991px) {
	
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	
}

@media screen and (max-width: 767px) {
	h1 {
		margin-bottom: 20px;
	}
	.avatar {
		max-width: 200px;
		margin:10px auto 20px;
	}
	.site-footer h2 {
		font-size:32px;
		line-height: 40px;
	}
	.site-footer a, .site-footer p {
		font-size: 18px;
	}
	.targeting-pic {
		width: 320px;
	}
	.modal-full-width .modal-title {
		font-size:20px;
	}
	.navbar-toggle{
		margin-right: 0;
		margin-top: 0;
	}
	header {
		padding-bottom: 10px;
	}
}